{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ios": "10"
        },
        "modules": "commonjs",
        "useBuiltIns": false,
        "debug": false,
      }
    ],
    "@babel/preset-react"
  ]
}